$black: #000000;
$light-black: #24292e;
$white: #ffffff;
$gray: #b1b1b1;
$light-gray: #f0f0f0;

$color-text: $black;
$color-subtext: $gray;
$color-content: $light-black;
$color-background: $white;
$color-border: $light-gray;
