*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4;
}

// For IE Support
main {
  display: block;
}
